    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Vallak</h2>
                <p>Vallak disini terinspirasi dari nama tokoh dalam film yang sedang hangat saat ini yaitu <a href="http://cdn1-a.production.liputan6.static6.com/medias/1265501/big/a874f9123c092e4f9c1b47127b414782-093460400_1466035190-Capture_1.jpg">Valak</a>
                <p>
                    Tapi tenang saja , disini tidak ada yang mengandung nama atau yang berbau Hantu
                </p>
            </div>
        </div>
    </section>